<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../libs/css/all.css">
  <link rel="stylesheet" href="../css/list-page.css">
  <link rel="stylesheet" href="../css/menu-item-page.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <title>Title</title>
</head>
<body>

<section id="services" class="services" style="padding: 0 0 10px">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" style="border-radius: 10px; ">
        <div class="icon-box"
             style="border-style: solid; border-width: 1px; border-color: rgba(194, 184, 184, 0.26);">
          <a class="icon" href="#" data-bs-toggle="modal">
            <img src="../img/list-item.jpg" class="img-fluid" alt="menu-item"></a>
          <h4><a href="#">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" style="border-radius: 10px; ">
        <div class="icon-box"
             style="border-style: solid; border-width: 1px; border-color: rgba(194, 184, 184, 0.26);">
          <a class="icon" href="#"><img src="../img/list-item.jpg" class="img-fluid" alt="menu-item"></a>
          <h4><a href="#">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" style="border-radius: 10px; ">
        <div class="icon-box"
             style="border-style: solid; border-width: 1px; border-color: rgba(194, 184, 184, 0.26);">
          <a class="icon" href="#"><img src="../img/list-item.jpg" class="img-fluid" alt="menu-item"></a>
          <h4><a href="#">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" style="border-radius: 10px; ">
        <div class="icon-box"
             style="border-style: solid; border-width: 1px; border-color: rgba(194, 184, 184, 0.26);">
          <a class="icon" href="#"><img src="../img/list-item.jpg" class="img-fluid" alt="menu-item"></a>
          <h4><a href="#">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" style="border-radius: 10px; ">
        <div class="icon-box"
             style="border-style: solid; border-width: 1px; border-color: rgba(194, 184, 184, 0.26);">
          <a class="icon" href="#"><img src="../img/list-item.jpg" class="img-fluid" alt="menu-item"></a>
          <h4><a href="#">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" style="border-radius: 10px; ">
        <div class="icon-box"
             style="border-style: solid; border-width: 1px; border-color: rgba(194, 184, 184, 0.26);">
          <a class="icon" href="#"><img src="../img/list-item.jpg" class="img-fluid" alt="item"></a>
          <h4><a href="#">Sed ut perspiciatis</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="item-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content"
         style="
         background-color: rgba(117, 190, 218, 0.0);
         border-color:rgba(117, 190, 218, 0.0);">
      <div class="modal-body">
        <div class="item-container">
          <div class="form-container product-container">
            <div class="img-part">
              <img src="" class="img-f" alt="item">
            </div>

            <div class="img-desc">
              <b style="font-size: 36px">Sed ut perspiciatis</b>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
            </div>
          </div>
          <div class="overlay-container">
            <div class="overlay-panel">
              <h1><b>Welcome Back!</b></h1>
              <button class="ghost bt"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous">
</script>
</body>
</html>
